* { box-sizing: border-box; }
body, html { height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; position: relative;}
body { background-color: #000000; color: #ffffff;}
h1 { font-family: "Playfair Display"; font-size: 30px; padding: 10px 0px; margin: 0px; }
.field-box { border: 2px solid #d0d0d0; width: 1003px; height: 603px;}
.field { position: relative; }
.field .tile { position: absolute; width: 25px; height: 25px; background-size: 100%; background-image: url(images/tile-.png); z-index: 5; }
.field .tileW { background-image: url(images/tile-W.png); }
.field .tileE { background-image: url(images/tile-E.png); z-index: 10; }
.field .tileP { background-image: url(images/tile-P.png); z-index: 10; }
.field .tileHP { background-image: url(images/tile-HP.png); z-index: 9; }
.field .tileSW { background-image: url(images/tile-SW.png); z-index: 9; }
.field .tile .health { background-color: #ff0000; z-index: 11; position: absolute; left: 0px; top: 0px; height: 3px; }
.field .tileP .health { background-color: #00ff00; z-index: 11; position: absolute; left: 0px; top: 0px; height: 3px; }
.inventory-box { border: 2px solid #d0d0d0; float: left; }
.inventory { position: relative; width: 800px; height: 32px; display: flex; flex-direction: row; align-items: center; justify-content: start; gap: 5px; padding: 5px;}
.cl { clear: both; display: block; }
.inventory_item { height: 30px; width: 32px;}
.container {display: flex; flex-direction: row; align-items: center; justify-content: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.game_container {display: flex; flex-direction: column; align-items: center;}
.container section { display: flex; align-items: start; flex-direction: column; margin-left: 2rem;}
section h3 {font-size: 1.5rem; white-space: nowrap; font-family: 'Ubuntu', sans-serif;}

.modal, .modal_win {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.5s ease;
    justify-content: center;
    align-items: center;
}

.modal-content, .modal-content_win {
    position: relative;
    padding: 20px;
    background-color: rgb(29, 27, 27);
    border-radius: 5px;
    width: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 12px silver;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

.close-btn, .close-btn_win {
    position: absolute;
    top: 10px;
    right: 19px;
    font-size: 2rem;
    cursor: pointer;
    color: #f5efef;
    transition: all 0.2s ease-in;
}

.close-btn, .close-btn_win:hover {
    color: red;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.stats {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stat-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.stat-icon {
	width: 62px;
	height: 62px;
    border-radius: 7px;
	margin-left: 1rem;
}

.start_game {
    padding: 6px;
    border-radius: 6px;
    transition: all 0.2s ease-in;
    margin-top: 10px;
    box-shadow: 0px 0px 9px silver;
    cursor: pointer;
    border: none;
&:hover{
    opacity: 0.8;
}}

.stats div {
    font-size: 26px;
}

.hp-bar {
    position: relative;
    margin: 0;
    z-index: 20;
    padding: 0;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 1.5rem;
    gap: 10px;
}

.links img {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.links img:hover{
    transform: rotate(15deg);
}
